{% extends 'layouts.html' %}

{% block content %}
</form>
<form class="row g-3 needs-validation" novalidate>
    <div class="col-md-4 position-relative">
      {{ form.company_name.label }}
      {{ form.company_name(class="form-control")}}
      </div>
    </div>
    <div class="col-md-4 position-relative">
        {{ form.manager.label}}
        {{ form.manager(class="form-control")}}
    <div class="valid-tooltip">
        Looks good!
      </div>
    </div>
    <div class="col-md-3 position-relative">
      <label for="validationTooltip04" class="form-label">Kliento tipas</label>
      <select class="form-select" id="validationTooltip04" required>
        <option selected disabled value="">Pasirinkti</option>
        <option>...</option>
        <option>...</option>
        <option>...</option>
      </select>
      <div class="invalid-tooltip">
    </div>
        {{form.sumbit(class="btn btn-outline-info")}}
    </div>
  </form>


<script src="{{url_for('static',filename='main.js')}}"></script>
{% endblock content %}