{% extends 'layouts.html' %}


{% block content %}

<form method="POST">
    {{ form.company_name.label }} {{ form.company_name }}
    {{ form.manager.label}} {{ form.manager }}
    {{ form.mob_phone_number.label}} {{ form.mob_phone_number }}
    {{ form.email.label}} {{ form.email }}
    {{ form.country.label}} {{ form.country }}
    {{ form.comments.label}} {{ form.comments }}
    {{ form.website.label}} {{ form.website }}
    
    <!-- {% for type in form.client_type %}
    <tr>
        <td>{{ type }}</td>
        <td>{{ type.label }}</td>
    </tr>
    {% endfor %} -->
    
    {{ form.sumbit() }}
</form>

{% endblock content %}